<div class="body-card-profile">
  <div class="glass-card" id="card-image-profile">

    <img src="https://images.unsplash.com/photo-1662104935703-b4e193c3a852?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80"/>

    <div class="card-testo">
      <h4 class="card-title">D'Angeli Emanuela</h4>
      <p class="card-subtitle">Sono una brava avvocatessa, fanculo tutti</p>
      <p class="card-info">fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo fanculo</p>
      <button class="card-button">Contattami</button>
    </div>

  </div>

  <div class="glass-card" id="card-nome-profile">
      <h4>D'Angeli Emanuela</h4>
  </div>

</div>
