

<app-toolbar class="toolbar"></app-toolbar>
<!-- <div class="glass-card">
  <h1><img style="background-color: white; border-radius: 50%;" src="https://img.icons8.com/ios-glyphs/30/null/user-male-circle.png"/></h1>
  <h2>Marco</h2>
  <h2>Pinto</h2>
  <div class="div-glass-btn">
    <a class="glass-btn">follow</a>
    <a class="glass-btn">unfollow</a>
  </div>
</div> -->

<!-- <div class="column left">
  <h2 class="child">Studio avvocati seri</h2>
  <p class="child">Questi siano noi! Lo studio più seri fra tutti gli studi seri di torino, affrontiamo solo casi difficili e seri e non ci fermiamo mai, neanche di fronte alle banalità</p>
</div> -->
<!-- <img class="child super-image" src="https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80"> -->
<img class="super-image" src="https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80">
<!-- <div class="background"></div> -->


<div class="row" style="padding-bottom: 80px; min-height:110vh; ">

  <!-- <div class="column full" style=" z-index: -1;">
    <img class="child super-image" src="https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80">
  </div> -->
  <div class="column full" id="prova" style="z-index: 5; background-color: #FCF7F8;">

    <div class="row">
      <div class="column full">
        <h2 class="child title">Studio avvocati seri</h2>
      </div>
      <div class="column full">
        <p class="child description">Questi siano noi! Lo studio più seri fra tutti gli studi seri di torino, affrontiamo solo casi difficili e seri e non ci fermiamo mai, neanche di fronte alle banalità</p>
      </div>
    </div>
    <div class="body-chi-siamo">

      <app-profile-card></app-profile-card>
      <app-profile-card></app-profile-card>
      <app-profile-card></app-profile-card>
      <app-profile-card></app-profile-card>
      <app-profile-card></app-profile-card>


      </div>
  </div>
  <div class="column full" id="dove-trovarci" #chiSiamoAnchor style="background-color: #FCF7F8;">
    <div class="row">
      <div class="column full">
        <h2 class="child title">Dove trovarci</h2>
      </div>
      <div class="column full">
        <p class="child description">Questi siano noi! Lo studio più seri fra tutti gli studi seri di torino, affrontiamo solo casi difficili e seri e non ci fermiamo mai, neanche di fronte alle banalità</p>
      </div>
      <div class="column left-center">
          <div class="image-description-container">
            <img class="map-image" src="../assets/images/IMG_2121.jpg" alt="miniatura mappa">
          </div>
       </div>
      <div class="column center">
          <p class="child description">In questa sezione, troverete una mappa dettagliata sulla nostra posizione.</p>
      </div>

    </div>
  </div>
</div>


