.toolbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
html {
  scroll-behavior: smooth;
}

/* inizio componente toolbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  color: gray;
}

.header{
  background-color: #212121;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .1);
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}
.header .logo{
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}
.header ul a:hover{
  background-color: #181818;
}
.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menu-icon .nav-icon{
  background: grey;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background-color .2s ease-out;
}
.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
  background-color: grey;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transition: transform .2s ease-out;
  position: absolute;
}
.header .menu-icon .nav-icon::after{
  top: -5px;
}
.header .menu-icon .nav-icon::before{
  top: 5px;
}
.header .menu-btn{
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.menuCover{
  max-height: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #212121;
}
.menu li{
  background-color: #212121;
  color: #fff;
}
.menu a{
  display: block;
  padding: 20px;
  text-decoration: none;
}





/* Stili per schermi di larghezza maggiore di 768px */
@media screen and (min-width: 769px) {
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header .logo {
    font-size: 25px;
    padding: 10px 20px;
    margin-right: auto; /* Mette il logo a sinistra */
  }

  .header ul {
    display: flex;
    list-style: none;
  }

  .header ul li {
    background-color: #212121;
    color: #fff;
    margin-left: 10px;
  }

  .header ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
  }

  .header .menu-icon {
    visibility: hidden; /* Nasconde il menu-icon */
  }

  .header .menu-btn {
    visibility: hidden;/* Nasconde il menu-icon */
  }

  .header .menu-btn {
    display: block; /* Mostra il menu-btn */
  }

  .header .menu {
    max-height: 100%; /* Imposta la massima altezza per mostrare subito il menu */
    transition: max-height .2s ease-out;
  }
}







/* fine componente toolbar */


.first-row{
  height: 100%;
}

.super-image{
  width: 100%;
  height: auto;
  max-height: 110vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

#prova{
  margin-top: 92vh;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.left,
.left-center,
.center,
.right-center,
.right,
.full,
.half {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.left {
  width: 25%; /* Colonna Sinistra */
}

.left-center {
  width: 37.5%;
}

.center {
  width: 50%; /* Colonna Centrale */
}

.right-center {
  width: 62.5%;
}

.right {
  width: 75%; /* Colonna Destra */
}

.full {
  width: 100%; /* Colonna a Larghezza Intera */
}

.half {
  width: 50%; /* La colonna "Half" occupa 50% dello schermo */
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.riga{
  display: block;
}

/* .row {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.column {
  text-align: center;

}

.left {
  grid-column: 4;
}

.left-center{
  grid-column: 6;
}

.center {
  grid-column: 8;
}
.right-center{
  grid-column: 10;
}

.right {
  grid-column: 12;
}

.full {
  grid-column: span 16;
}
.half {
  grid-column: span 8;
} */
.child {
  max-width: 100%; /* Imposta la larghezza massima dei figli al 100% della larghezza della colonna */
  max-height: 100%; /* Imposta l'altezza massima dei figli al 100% dell'altezza della colonna */
  overflow: hidden; /* Nasconde il contenuto in eccesso se sfora le dimensioni della colonna */
}

.title {
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin: 20px 60px; /* Aggiungi margine sopra e sotto al titolo */
  padding: 0 10px; /* Aggiungi padding ai lati del titolo */
  text-align: left;
}

.description {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 40px;
  padding: 0 10px;
  text-align: left;
}




.body-chi-siamo{
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: fit-content;
}

.map-image{
  width: 350px;
  height: auto;
  display: flex;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  margin-left: 20px;
}

.item-p{
  margin-top: 20px;
  flex-basis: 50%;
  align-self: flex-start;
}
.item-ps{
  display: block;

}



form {
  width: 1000px;
  margin: 0 10px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-self: center;
  font-weight: 400;
  font-size: 16px;
}


button {
  color: #1f3d47;
  background: #8fabba;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
}

button:hover {
  background-color: #8fabba;
}





@media (max-width: 940px) {
  .super-image{
    margin-top: 30px;
  }

  #prova{
    margin-top: 550px;
  }
  .container{
    flex-wrap: wrap;
  }
  .item-p{
    flex-basis: 90%;
  }
}
@media (max-width: 640px) {
  #prova{
    margin-top: 350px;
  }
  .title{
    margin: 10px 40px; /* Aggiungi margine sopra e sotto al titolo */
    padding: 0 10px; /* Aggiungi padding ai lati del titolo */
  }
  .image-container {
    margin-left: 0px;
  }


}
@media (max-width: 480px) {
  .title{
    font-size: 30px;
    text-align: center;
  }
  .description{
    font-size: 15px;
    margin: 10px 10px;
    padding: 0 0;
    flex-basis: 90%;
  }
  #prova{
    margin-top: 250px;
  }

  .super-image{
    margin-top: 30px;
  }
  .title{
    margin: 10px 40px; /* Aggiungi margine sopra e sotto al titolo */
    padding: 0 10px; /* Aggiungi padding ai lati del titolo */
  }

  .column.left-center,
  .column.right-center {
    float: none; /* Rimuove il float per i dispositivi mobili */
    width: 100%; /* Occupa l'intera larghezza */
    clear: both; /* Assicura che venga posizionato sotto il precedente */
  }

.container{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .item-p{
    flex-basis: 90%;
  }
  form {
    max-width: 340px;
    min-width: 320px;
    width: 320px;

  }
  .container{
    padding: 10px;
  }
  .image-container {
    margin-left: 0px;
  }
}


.background {
  background-image: url('https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80');
  background-size: cover;
  background-attachment: fixed; /* Fisso per mantenerla al suo posto */
  height: 100vh; /* Altezza uguale all'altezza dello schermo */
}

.content {
  position: relative;
  z-index: 1; /* Assicura che il contenuto sia sopra l'immagine di sfondo */
  background-color: rgba(255, 255, 255, 0.7); /* Imposta uno sfondo bianco trasparente per il contenuto */
  padding: 20px; /* Aggiungi spaziatura interna al contenuto */
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.7) 100%);
  transform: translateY(-50%);
}

.linea-divisoria {
  width: 100%; /* Larghezza completa */
  height: 2px; /* Altezza della linea */
  background-color: #ccc; /* Colore della linea (puoi personalizzare) */
  margin: 20px 50px;

  z-index: 77;
}

